@import (less) 'variables.less';

button {
  border-radius: 3px;
  background-color: @normal-input-color;
  background-color: rgb(0, 178, 134);
  padding: 8px 22px;
  color: white;
  border: none;
  cursor: pointer;

  &.secondary {
    border: 1px solid @normal-input-border-color;
    background-color: white;
    color: @normal-input-border-color;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
      background-color: white;
    }
    &:active {
      background-color: white;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: @normal-input-color-hover;
  }

  &:active {
    background-color: @normal-input-color;
  }
}
