.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
}

.wide-icon {
  .icon;
  width: 20px;
}

.photo-icon-light {
  background: url(/img/photo-light.png);
}

.video-icon-light {
  background: url(/img/video-light.png);
}

.photo-icon-dark {
  background: url(/img/photo-dark.png);
}

.video-icon-dark {
  background: url(/img/video-dark.png);
}

.close-icon {
  .icon();
  width: 21px;
  height: 21px;
  background: url(/img/close.png);
}

.lock-icon {
  background: url(/img/lock-icon.png);
  width: 16px;
  height: 17px;
}
.person-icon {
  background: url(/img/user-icon.png);
  width: 16px;
  height: 16px;
}

.mail-icon {
  background: url(/img/mail-icon.png);
  width: 16px;
  height: 13px;
}

.search-icon {
  .icon();
  background: url(/img/search-icon.png);
  width: 18px;
  height: 18px;
}
