@import (reference) 'variables.less';

.on-your-mind {
  width: 100%;
  padding: 25px;
  padding-top: 35px;
  border-radius: 3px;
  background-color: rgba(0, 178, 134, .7);
  color: rgba(255, 255, 255, .5);

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  input {
    font-weight: 300;
    margin-bottom: 23px;
    width: 100%;
  }

  .add-photo {
    margin-right: 44px;
    display: inline-block;
    .button;
  }

  .add-video {
    .button;
  }
}
