.post {
  .primary-content {
    padding: 25px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  * {
    vertical-align: top;
  }

  .author {
    color: #3f454d;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
  }

  .profile-picture {
    float:left;
  }

  .content-body {
    float: left;
    width: 400px;
    margin-left: 18px;
    .content {
      line-height: 23px;
    }
  }

  width: 100%;
  max-width: 575px;
  border: 1px solid rgb(222, 225, 229);
  border-radius: 4px;

  margin-top: 25px;
  margin-right: 25px;
}
