@import (reference) 'variables.less';

@post-border-color: #eef0f2;

.post-primary-content {
  .clearafter();
  padding: 25px;

  .author {
    color: #3f454d;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
  }
  .post-icons {
    float:right;
    color: @normal-input-border-color;
    .icon {
      cursor: pointer;
    }
    > * {
      margin-left: 16px;
    }
  }

  .profile-picture {
    float:left;
  }
  .content-body {
    overflow: hidden;
    padding-left: 18px;
    .content {
      line-height: 23px;
    }
  }

  * {
    vertical-align: top;
  }

  .expand-button {
    margin-top: 27px;
    cursor: pointer;
    position: relative;
    &.expanded:after {
      border-top: none;
      border-bottom: 4px solid @normal-input-border-color;
    }
    &:after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      display: inline-block;
      margin-left: 10px;
      border-top: 4px solid @normal-input-border-color;
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
    }
    > * {
      font-size: 12px;
    }
  }
}

.post {
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  max-width: 575px;
  border: 1px solid rgb(222, 225, 229);
  border-radius: 4px;
  margin-top: 25px;
  margin-right: 20px;
  .reply-post {
    background-color: #f9fafb;
    border-top: 1px solid @post-border-color;
  }

  .media-container {
    max-height: 300px;
    overflow: hidden;
    width:100%;
    >img {
      width:100%;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 900px) {
    &.tile {
      max-width: 370px;
    }
  }
}

.post-detail-modal {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  > img {
    width: 100%;
  }
}

.reply {
  background-color: #f9fafb;
  border-top: 1px solid @post-border-color;
  padding: 16px 25px;

  input {
    border: 1px solid @background-differentiator;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    padding: 14px;

    &:focus {
      outline: none;
      border-color: #31b9ff;
    }
  }
}
