@import (reference) 'variables.less';

.sub-menu {
  color: @normal-input-border-color;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;

  .tab {
    display: inline-block;
    margin-right: 30px;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;

    &.active {
      color: white;
      border-bottom: 4px solid @brand-color;
      padding-bottom: 6px;
    }
  }
}
