@small-container-width: 575px;

@page-font: 'Open Sans', sans-serif;

// Colors
@brand-color: #00cc99;
@normal-input-color: #00b286;
@inactive-input-color: #cfcfcf;

@background-differentiator: #dee1e5;

@normal-input-border-color: #bec3cc;


// mixins
.button(){
  cursor: pointer;
}
